.logo {
	 float: left;
}
 nav {
	 float: left;
}
 nav ul {
	 margin: 0;
	 padding: 0;
	 list-style: none;
}
 nav li {
	 display: inline-block;
}
 body {
	 background: rgb(24, 98, 128);
	 color: rgb(181, 10, 27);
	 font-size: xx-large;
}
 a {
	 color: #0b0b0b
}
 h1 {
	 color: #008080
}
 p {
	 color: #008000
}
 ol {
	 color: #008000
}
